body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b95ba1;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #b9d26f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #111010;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    background-color: #0e0d0d;
    color: #f2ecec;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #55977d;
}
